<%= render "header" %>

<ul class = "form">
    <%= form_for @post do |form| %>
    <li>
        <%= form.label :title %>
    </li>
    <li class = "form-item">
        <%= form.text_field :title %>
    </li>
    <li>
        <%= form.label :description %>
    </li>
    <li class = "form-item">
        <%= form.text_area :description %>
    </li>
    <li>
        <%= submit_tag %>
    </li>
    <% end %>
</ul>
<%= render "footer" %>