<%= render "header" %>

<div id="main">
    <img src="/main-img.jpg">
</div>


<div id="article_wrap">

    <div id="article_list">
        <% @posts.each do |post|%>
            <div>
                <h2><%= link_to post.title, post_path(post) %></h2>
                <p><%= post.description %></p>
                <% if my_post?(post) %>
                    <%= link_to "編集", edit_post_path(post) %>
                    <%= link_to "削除", post_path(post), method: :delete %>
                <% end %>
            </div>
        <% end %>

    </div>
    <%= render "sidebar", ranking: @ranking %>

    <div class="clear"></div>
</div>

<%= render "footer" %>