<%= render "header" %>

<div id="title">
    <div>
        <p><%= "#{@post.created_at.to_date} / 書いた人: #{@post.user.name}" %></p>
        <h1><%= @post.title %></h1>
    </div>
</div>

<div id="article_wrap">

    <div id="content">
        <%= @post.description %>
    </div>

    <%= render "sidebar", ranking: @ranking %>
    <div class="clear"></div>
</div>

<%= render "footer" %>